{% extends "base.html" %}
{% load static %}

{% block title %}
Edit Payroll
{% endblock title %}


{% block additional_css %}
{% endblock additional_css %}

{% block body %}



<h1 class="mt-4">Payroll</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active text-capitalize">Edit Payroll</li>
</ol>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="{% url 'tp:index_page' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'tp:payroll_management' %}">Payroll</a> </li>
        <li class="breadcrumb-item active" aria-current="page">Edit Payroll</li>
    </ol>
</nav>


{% include 'partials/_messages.html' %}
{% include 'partials/_form_errors.html' %}

<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <form method="POST">
                {% csrf_token %}

                <div class="card-header">
                    <div class="card-title">
                        <h4>Payroll Form</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.employee }}
                                <label>Select Employee</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.period_covered_from }}
                                <label>Period Covered From</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.period_covered_to }}
                                <label>Period Covered To</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- NOTE: Basic Salary: -->
                    <h5>Basic Salary:</h5>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.basic_ed }}
                                <label>Basic Education</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.college }}
                                <label>College</label>
                            </div>
                        </div> 
                    </div>
                    <hr>
                    <!-- NOTE: Add: -->
                    <h5>Add:</h5>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.overload }}
                                <label>Overload</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.substitution }}
                                <label>Substitution</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.overtime }}
                                <label>Overtime</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.holiday_pay }}
                                <label>Holiday Pay</label>
                            </div>
                        </div> 
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.ndp }}
                                <label>NDP</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.honorarium }}
                                <label>Honorarium</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.longetivity }}
                                <label>Longetivity</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.merit_incetive_pay }}
                                <label>Merit Incentive Pay</label>
                            </div>
                        </div> 
                        <div class="col-md-3 mt-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.adj }}
                                <label>Adj</label>
                            </div>
                        </div> 
                    </div> 
                    <hr>
                    <!-- NOTE Allowances -->
                    <h5>Allowances:</h5>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.rice }}
                                <label>Rice</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.laundry }}
                                <label>Laundry</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.uniform }}
                                <label>Uniform</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.position }}
                                <label>Position</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- NOTE Less -->
                    <h5>Less:</h5>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.absences }}
                                <label>Absences</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.tardiness_undertime }}
                                <label>Tardiness / Undertime</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.sss_prem }}
                                <label>SSS Prem</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.sss_loan }}
                                <label>SSS Loan</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.pag_ibig_prem }}
                                <label>Pag Ibig Prem</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.pag_ibig_loan }}
                                <label>Pag Ibig Loan</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.philhealt_prem }}
                                <label>Philhealt Prem</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.withholding_tax }}
                                <label>Witholding Tax</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.landbank }}
                                <label>Landbank</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.damayan }}
                                <label>Damayan</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.salary_deductions }}
                                <label>Salary Deductions</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.uniform }}
                                <label>Uniform</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.salary_loan }}
                                <label>Salary Loan</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.tuition_fee }}
                                <label>Tuition Fee</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.snpl }}
                                <label>SNPL</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.lbp_adj }}
                                <label>LBP Adj</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                   
                    <button type="submit" class="btn btn-info ">
                        <i class="fas fa-save mr1"></i> Update
                    </button>
                </div>
            </form>

        </div>



    </div>
</div>
{% endblock body %}

{% block additional_js %}
{% endblock additional_js %}