{% extends "registration/base.html" %}

{% block title %}
Login 
{% endblock title %}

{% block additional_css %}
{% endblock additional_css %}


{% block body %}
<div class="row justify-content-center">
  <div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Teachers Portal</h3>
      </div>
      <div class="card-body">
        <form method="POST">
          {% include 'partials/_messages.html' %}
          {% include 'partials/_form_errors.html' %}
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" required/>
            <label for="email">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="password" type="password" name="password" placeholder="Password" required/>
            <label for="password">Password</label>
          </div>

          <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-center py-3">
        <div class="small"><a href="{% url 'user_pre_registration_page' %}">Need an account? Sign up!</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}


{% block additional_js %}
{% endblock additional_js %}