{% extends "registration/base.html" %}

{% block title %}
Update password
{% endblock title %}

{% block additional_css %}
{% endblock additional_css %}


{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Update Password</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}


                    {% include 'partials/_messages.html' %}
                    {% include 'partials/_form_errors.html' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <h5><i class="icon fas fa-exclamation-triangle"></i> Warning! Apply Strong Password!</h5>
                        <ul>
                            <li>The password must not be too short. It must contain at least 8 characters.</li>
                            <li>The password must not be too common.</li>
                            <li>The password must contain at least 1 digit, 0-9.</li>
                            <li>The password must contain at least 1 uppercase letter, A-Z.</li>
                            <li>The password must contain at least 1 symbol: ()[]{}|\`~!@#$%^&*_-+=;:"",<>./?</li>
                        </ul>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.old_password }}
                        <label for="id_old_password">Old Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.new_password1 }}
                        <label for="id_old_password">New Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.new_password2 }}
                        <label for="id_old_password">Confirm Password</label>
                    </div>
                    
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'login' %}">Go to login</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}


{% block additional_js %}

<script>
    $(document).ready(function(){
        $('input[type="password"]').addClass("form-control");
    })
</script>
{% endblock additional_js %}