{% extends "registration/base.html" %}

{% block title %}
Forgot Password
{% endblock title %}

{% block additional_css %}
{% endblock additional_css %}


{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Email Link Sent</h3>
            </div>
            <div class="card-body">
                <p class="text-center text-secondary">

                    <b>
                        We've emailed you instructions for setting your password, if an account exists with
                        the email you
                        entered.
                        You should receive them shortly.
                    </b>
                </p>
                <p class="text-center text-secondary">
                    <b>
                        If you don't receive an email, please make sure you've entered the address you
                        registered with, and
                        check
                        your spam folder.
                    </b>
                </p>

            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'login' %}">Go to login</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}


{% block additional_js %}
<script>
    document.getElementById('id_email').classList.add('form-control');
    document.getElementById('id_email').placeholder = "E-mail address"; 
</script>
{% endblock additional_js %}