{% extends "registration/base.html" %}

{% block title %}
Post Registration
{% endblock title %}

{% block additional_css %}
{% endblock additional_css %}


{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Complete your profile details</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}


                    {% include 'partials/_messages.html' %}
                    {% include 'partials/_form_errors.html' %}
             
                
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.s_name }}
                                <label>Suffix Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.f_name }}
                                <label>First Name</label>
                            </div>
                        </div> 
                    </div>

                      
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.m_name }}
                                <label>Middle Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.l_name }}
                                <label>Last Name</label>
                            </div>
                        </div> 
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.gender }}
                                <label>Gender</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.dob }}
                                <label>Date of Birth</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.age }}
                                <label>Age</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                     
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.contact_no }}
                                <label>Contact no</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <label><b>Image/Picture:</b></label>
                            {{ form.image }}
                        </div>
                    </div>
                    <div class="row mb-3">
                     
                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.address }}
                                <label>Address</label>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.position }}
                                <label>Position</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.highest_deg_attain }}
                                <label>Highest Degree Attained</label>
                            </div>
                        </div> 
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.school_grad }}
                                <label>School Graduated</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.department }}
                                <label>Department</label>
                            </div>
                        </div> 
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.subject_coordinator }}
                                <label>Subject Coordinator</label>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.course }}
                                <label>Course</label>
                            </div>
                        </div>
                        
                    </div>

                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-save mr-1"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}


{% block additional_js %}
{% endblock additional_js %}