{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
FCPC Teachers Portal
{% endblock title %}


{% block additional_css %}
{% endblock additional_css %}

{% block body %}
<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>


{% include 'partials/_messages.html' %}

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">
                Total Users
                <h1>{{t_users|intcomma}}</h1>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between"> 
                <a class="small text-white stretched-link" href="{% url 'tp:users_management' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                Total Teachers
                <h1>{{t_emp|intcomma}}</h1>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between"> 
                <a class="small text-white stretched-link" href="{% url 'tp:users_management' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                Total Payroll
                <h1>{{t_payroll|intcomma}}</h1>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between"> 
                <a class="small text-white stretched-link" href="{% url 'tp:users_management' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">
                Total Evaluations
                <h1>{{t_eval|intcomma}}</h1>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between"> 
                <a class="small text-white stretched-link" href="{% url 'tp:users_management' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div> 
{% endblock body %}

{% block additional_js %}
{% endblock additional_js %}